<!-- Content Header (Page header) -->
<section id="content-header" class="content-header">
    <div class="container-fluid">
        <div class="d-flex align-items-center flex-wrap justify-content-between" style="row-gap:0.5rem;">
            <div class="content-header-left flex-grow-1">
                <div class="toggle-site-memu">
                    <a class="sidebar-toggle" data-widget="pushmenu" href="#" role="button"><i
                            class="bi bi-list h5"></i></a>
                </div>
                <nav class="head-breadcrumb px-3 d-inline-block mb-2" aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">
                            <a href="http://localhost/masterapp/home" class=""><i
                                    class="bi bi-pie-chart-fill"></i> ภาพรวม</a>
                        </li>
                        <li class="breadcrumb-item active"> <i class="bi bi-filetype-doc"></i>
                            ตัวอย่างการใช้งาน</li>
                    </ol>
                </nav>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>