@model MasterCoreMVC.ViewModels.DocumentModel
@{
    Layout="AdminLTE/_Layout";
    ViewData["Title"] = "ตัวอย่าง";
    ViewData["MenuActive"] = new string[]{ "" };
    ViewData["Breadcrumb"] = new List<Breadcrumb>(){
        new Breadcrumb{
            Can = "",  Icon = "bi bi-house-door",
            Link = @Url.Action("Index", "Home"), Name = "Home",
            Class = "", Target="", Active=false
        },
        new Breadcrumb{
            Can = "",  Icon = "bi bi-doc",
            Link = @Url.Action("Index", "Doc"), Name = "Document",
            Class = "", Target="", Active=true
        }
    };
}

<div class="row">
    <div class="col-3">
        <div id="card-lleNiqlmFW" class="card card-default card-outline " can="">
            <div class="card-header ">
                <h3 class="card-title">MENU</h3>

            </div>
            <div class="card-body  lleNiqlmFW" style="">
                <ul>
                    <li>
                        <a href="#">Form Inputs</a>
                    </li>
                    <li>
                        <a href="#">Components</a>
                    </li>
                    <li>
                        <a href="#">Javascripts</a>
                    </li>
                    <li>
                        <a href="#">Helpers</a>
                    </li>
                    <li>
                        <a href="#">Export PDF & Excel</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="col-9">
        <div id="card-iT3KpL1gOC" class="card card-default card-outline " can="">
            <div class="card-header ">
                <h3 class="card-title">DETAIL</h3>

                

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"
                        title="Collapse">
                        <i class="bi bi-dash-lg"></i>
                        <i class="bi bi-plus-lg"></i>
                    </button>

                </div>
            </div>
            <div class="card-body ">
                
                
                <form asp-action="Create">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <formitem type="date" label="xxxx" show-label="true" col="col-md-6"  
                            asp-for="TestString" id="form-TestString" Name="TestString" value="xxx3" class="text-danger" 
                            icon="" inline="false"  form-group="true" select2="false" required="true" autocomplete="off" />

                        <formitem col="col-md-6" type="text" label="xxxx" show-label="true" 
                            id="form-TestString3" Name="TestString3" value="xxx3" class="" 
                            icon="bi bi-star" inline="false"  form-group="true" select2="false" required="true" readonly="true" autocomplete="off" />

                        <my-first-tag-helper id="my-input" type="text" placeholder="type anything you want" autocomplete="off" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default"/>
                    </div>
                </form>

                <form asp-action="Create">
                    <input asp-for="TestString" add-on-button="" add-on-button-text="" add-on-button-icon="" add-on-append="true" />
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default"/>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>