@{
    Layout="AdminLTE/_Layout";
    ViewData["Title"] = "ตัวอย่าง";
    ViewData["MenuActive"] = new string[]{ "" };
    ViewData["Breadcrumb"] = "";
}

<div class="row">
    <div class="col-3">
        <div id="card-lleNiqlmFW" class="card card-default card-outline " can="">
            <div class="card-header ">
                <h3 class="card-title">MENU</h3>

            </div>
            <div class="card-body  lleNiqlmFW" style="">
                <ul>
                    <li>
                        <a href="#">Form Inputs</a>
                    </li>
                    <li>
                        <a href="#">Components</a>
                    </li>
                    <li>
                        <a href="#">Javascripts</a>
                    </li>
                    <li>
                        <a href="#">Helpers</a>
                    </li>
                    <li>
                        <a href="#">Export PDF & Excel</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="col-9">
        <div id="card-iT3KpL1gOC" class="card card-default card-outline " can="">
            <div class="card-header ">
                <h3 class="card-title">DETAIL</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"
                        title="Collapse">
                        <i class="bi bi-dash-lg"></i>
                        <i class="bi bi-plus-lg"></i>
                    </button>

                </div>
            </div>
            <div class="card-body  iT3KpL1gOC" style="">
                <h1>Form Item</h1>
            </div>
        </div>

    </div>
</div>